# SPDX-License-Identifier: MIT

if SHIELD_ERGO_TRACK_SPLIT || SHIELD_ERGO_TRACK_SPLIT_LEFT || SHIELD_ERGO_TRACK_SPLIT_RIGHT

config PMW3610
    bool "PMW3610 trackball sensor"
    default y if SHIELD_ERGO_TRACK_SPLIT_RIGHT

config INPUT
    default y if SHIELD_ERGO_TRACK_SPLIT_RIGHT

config ZMK_MOUSE
    default y

config ZMK_POINTING
    default y if SHIELD_ERGO_TRACK_SPLIT_RIGHT

config SPI
    default y if SHIELD_ERGO_TRACK_SPLIT_RIGHT

config SPI_ASYNC
    default y if SHIELD_ERGO_TRACK_SPLIT_RIGHT

config GPIO
    default y

config ZMK_BLE
    default y

endif
