# SPDX-License-Identifier: MIT

if SHIELD_ERGO_TRACK_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "ErgoTrackL"

config ZMK_BLE
    default y

config ZMK_SETTINGS
    default y

endif

if SHIELD_ERGO_TRACK_SPLIT_RIGHT

config ZMK_KEYBOARD_NAME
    default "ErgoTrackR"

config ZMK_BLE
    default y

config ZMK_SETTINGS
    default y

config PMW3610
    default y

config INPUT
    default y

config ZMK_MOUSE
    default y

config ZMK_POINTING
    default y

config SPI
    default y

config SPI_ASYNC
    default y

config GPIO
    default y

config ZMK_USB
    default y

endif